@import "tailwindcss";

@theme {
  --font-urbanist: var(--font-Urbanist), sans-serif;
}

@layer utilities {
  .max-w-agency-max {
    width: 100%;
    max-width: 1445px;
    margin-left: auto;
    margin-right: auto;
    background-color: #02050A;
  }
}